<!DOCTYPE html>
<html>
<head>
    <title>Faculty Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="page-center">
<div class="card faculty-card">
    <h2>📘 Faculty Dashboard</h2>
    <p>Create and manage quizzes</p>

    <form action="/add-quiz" method="post">
        <input type="text" name="topic" placeholder="Enter Topic" required>
        <input type="text" name="question" placeholder="Question" required>

        <div class="grid">
            <input type="text" name="option_a" placeholder="Option A" required>
            <input type="text" name="option_b" placeholder="Option B" required>
            <input type="text" name="option_c" placeholder="Option C" required>
            <input type="text" name="option_d" placeholder="Option D" required>
        </div>

        <select name="correct_option" required>
            <option value="">Correct Answer</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>

        <button class="primary-btn" type="submit">➕ Add Quiz</button>
    </form>

    <p class="tip-text">✨ Tip: Topic name must match extracted syllabus topic.</p>
</div>
</div>
</body>
</html>
